*, *::before, *::after {
    box-sizing: border-box;
    font-family:  sans-serif;
    font-weight: normal;
}
body{
    margin: 0;
    padding: 0;
    background:rgb(29, 9, 52);
}
.calculator-grid{
    display: grid;
    justify-content: center;
    border: 2px solid ;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px, auto) repeat(5,100px);
}
.calculator-grid > button{
    cursor: pointer;
    font-size: 2rem;
    border: 2px solid hsl(281, 89%, 26%);
    margin: 10px;
    box-shadow:  1px 1px;
    border-radius: 5%;
    color:  hsl(52, 100%, 62%);
    outline: none;
    background-color:  hsl(281, 89%, 26%);
    transition:  0.5s

}
.calculator-grid > button:hover{
    background-color: hsl(180, 100%, 90%);
    
}
.calculator-grid > button:active{
    transform: scale(0.98);
}
.span-two{
    grid-column: span 2;
}

.output{
    grid-column: 1/ -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.output .previous-operand{
   color: hsl(52, 100%, 62%);

   font-size: 1.5rem;
}
.output .current-operand{
    color: hsl(52, 100%, 62%);
    font-size: 2.5rem;
 }